<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.azhang.weibo.mapper.UserRelationMapper">
  <resultMap id="BaseResultMap" type="org.azhang.weibo.model.UserRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="follower_id" jdbcType="BIGINT" property="followerId" />
    <result column="blogger_id" jdbcType="BIGINT" property="bloggerId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="follow_time" jdbcType="TIMESTAMP" property="followTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, follower_id, blogger_id, type, follow_time
  </sql>
  <select id="selectByExample" parameterType="org.azhang.weibo.model.UserRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.azhang.weibo.model.UserRelationExample">
    delete from user_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.azhang.weibo.model.UserRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_relation (follower_id, blogger_id, type, 
      follow_time)
    values (#{followerId,jdbcType=BIGINT}, #{bloggerId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, 
      #{followTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.azhang.weibo.model.UserRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="followerId != null">
        follower_id,
      </if>
      <if test="bloggerId != null">
        blogger_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="followTime != null">
        follow_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="followerId != null">
        #{followerId,jdbcType=BIGINT},
      </if>
      <if test="bloggerId != null">
        #{bloggerId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="followTime != null">
        #{followTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.azhang.weibo.model.UserRelationExample" resultType="java.lang.Long">
    select count(*) from user_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.followerId != null">
        follower_id = #{record.followerId,jdbcType=BIGINT},
      </if>
      <if test="record.bloggerId != null">
        blogger_id = #{record.bloggerId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.followTime != null">
        follow_time = #{record.followTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_relation
    set id = #{record.id,jdbcType=BIGINT},
      follower_id = #{record.followerId,jdbcType=BIGINT},
      blogger_id = #{record.bloggerId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=INTEGER},
      follow_time = #{record.followTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.azhang.weibo.model.UserRelation">
    update user_relation
    <set>
      <if test="followerId != null">
        follower_id = #{followerId,jdbcType=BIGINT},
      </if>
      <if test="bloggerId != null">
        blogger_id = #{bloggerId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="followTime != null">
        follow_time = #{followTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.azhang.weibo.model.UserRelation">
    update user_relation
    set follower_id = #{followerId,jdbcType=BIGINT},
      blogger_id = #{bloggerId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      follow_time = #{followTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>